.header {
    display: flex;
    height: 70px;
    background-color: #2E151B;
    align-content: center;
    justify-content: center;
}

.header-content {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo-container {
    font-size: 24px;
    color: #F9FAF8;
    font-family: Roboto, sans-serif;
    display: inline-block;
    flex: 3 1 0;
}

.header-link {
    font-size: 18px;
    color: #F9FAF8;
    font-family: Roboto, sans-serif;
    flex: 1 1 0;
    text-align: center;
}

.top-section-wrap {
    background-color: #2F4454;
}

.top-section {
    height: 450px;
    background-color: #2E151B;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.top-section-content {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
    gap: 20px;
}

.main-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.subject-text {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-button {
    width: 130px;
    height: 45px;
    background-color: #DA7B93;
    border: 2px solid #DA7B93;
    border-radius: 8px;
    margin-top: 5px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;
}

.top-picture {
    height: 300px;
    width: 580px;
    border-radius: 25px;
    object-fit: fill;
}

a {
    font-family: 'Roboto', sans-serif;
}

.showcase {
    height: 450px;
    background-color: #2F4454;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.showcase-top-text {
    font-size: 36px;
    font-weight: bold;
    color: #F9FAF8;
    text-align: center;
}

.showcase-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.showcase-item {
    display: flex;
    flex-direction: column;
}

.showcase-photo {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    object-fit: cover;
}

.showcase-description {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 10px;
    color: #F9FAF8;
}

.description {
    height: 400px;
    background-color: #376E6F;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.description-content {
    width: 60%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.description-text-1 {
    font-size: 30px;
    font-weight: lighter;
    justify-self: flex-end;
    color:#F9FAF8
}

.description-text-2 {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    text-align: end;
    color:#F9FAF8
}

.signup {
    height: 300px;
    background-color: #2F4454;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    height: 150px;
    width: 60%;
    background-color: #2E151B;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signup-button.bottom {
    border: 2px solid #DA7B93;
}

.signup-text-1 {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.signup-text-2 {
    font-size: 18px;
    color: #F9FAF8;
}

.footer {
    height: 100px;
    background-color: #2E151B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 18px;
    color: #F9FAF8;
}

body {
    margin: 0 0 0 0;
}

p {
    font-family: 'Roboto', sans-serif;
    margin: 0 0 0 0;
}