.header {
    display: flex;
    height: 50px;
    background-color: #48bdcc;
    align-content: center;
    justify-content: center;
}

.header-content {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-link {
    font-size: 18px;
    color: #F9FAF8;
    font-family: Roboto, sans-serif;
    flex: 1 1 0
}

.logo-container {
    font-size: 24px;
    color: #F9FAF8;
    font-family: Roboto, sans-serif;
    display: inline-block;
    flex: 3 1 0;
}

a {
    font-family: Roboto, sans-serif;
}

.top-section {
    height: 350px;
    background-color: #FC4445;
}

.showcase {
    height: 400px;
    background-color: #CAFAFE;
}

.description {
    height: 300px;
    background-color: #97CAEF;
}

.signup {
    height: 300px;
    background-color: #CAFAFE;
}

.footer {
    height: 50px;
    background-color: #48bdcc;
}

body {
    margin: 0 0 0 0;
}

p {
    font-family: Roboto, sans-serif;
    margin: 0 0 0 0;
}